<template>
    <div id="app">
        <site-header/>

        <div class="view">
            <router-view/>
        </div>

        <site-footer/>

        <ScrollToTop/>
    </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader';
import SiteFooter from '@/components/SiteFooter';

import ScrollToTop from '@/components/ScrollToTop';

export default {
    components: {
        SiteHeader,
        SiteFooter,
        ScrollToTop
    }
};
</script>


<style lang="scss">
html,
body {
    height: 100%;
}
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    .view {
        flex: 1 0 auto;
    }
    .footer {
        flex-shrink: 0;
    }
}
</style>
