@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$primary: #80eda2;

$title-color: $grey-dark;
$title-weight: $weight-light;

$subtitle-color: $grey-dark;
$subtitle-weight: $weight-light;

$content-heading-color: $grey-darker;
$content-heading-weight: $weight-normal;

$text: $grey;

@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';

@import '~bulma/sass/components/level';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/components/message';

@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/form';
@import '~bulma/sass/elements/table';
@import '~bulma/sass/elements/title';

@import '~bulma/sass/grid/columns';

@import '~bulma/sass/layout/hero';
@import '~bulma/sass/layout/footer';

@import '~/vue-code-highlight/themes/prism-okaidia.css';

.row {
    margin-top: 3em;
    margin-bottom: 3em;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.is-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-block {
    background: #1E1E1E;
}