<template>
    <div class="filedrop">
        <div class="upload">
            <label class="upload-label">
                <input class="upload-input" type="file" @change="change" :multiple="multiple">
                <span class="upload-content">Drop file or click to upload</span>
            </label>
        </div>
    </div>
</template>

<script>
export default {
    props: ['multiple'],
    data() {
        return {};
    },
    methods: {
        async change(e) {
            let files = e.target.files;

            if (!files.length) return;

            let type = {
                image: /\.(jpe?g|png|gif)$/i,
                text: /\.(txt|log|svg)$/i
            };

            const read = file => {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();

                    reader.addEventListener('load', e => {
                        resolve(reader.result);
                    });

                    if (type.image.test(file.name)) {
                        reader.readAsDataURL(file);
                    } else if (type.text.test(file.name)) {
                        reader.readAsText(file);
                    }
                });
            };

            let foo = Array.from(files).map(read);

            let result = await Promise.all(foo);

            this.$emit('change', result);
        }
    }
};
</script>

<style lang="scss">
$primary: #09bc6f;
.filedrop {
    .upload {
        position: relative;
        display: flex;

        .upload-label {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;

            .upload-input {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                outline: 0;
                opacity: 0;
                cursor: pointer;
            }

            .upload-content {
                padding: 3em;
                color: #555555;
                border: 4px dotted $primary;
            }

            &:active .upload-content,
            &:hover .upload-content {
                background-color: #f1f2f3;
            }
        }
    }
}
</style>
