<template>
    <header>
        <nav aria-label="main navigation" class="navbar" role="navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h2 class="site-title title is-3">@allardyce | vectato</h2>
                </div>

                <a
                    aria-expanded="false"
                    aria-label="menu"
                    class="navbar-burger burger"
                    data-target="navbarBasicExample"
                    role="button"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-start">
                    <router-link class="navbar-item" to="/">Documentation</router-link>
                    <router-link class="navbar-item" to="/upload">Upload</router-link>
                </div>

                <div class="navbar-end">
                    <a
                        class="navbar-item"
                        href="https://www.npmjs.com/package/@allardyce/vectato"
                        target="_blank"
                        title="NPM"
                    >
                        <NPMIcon class="icon is-large"/>
                    </a>

                    <a
                        class="navbar-item"
                        href="https://gitlab.com/allardyce/vectato"
                        target="_blank"
                        title="Gitlab"
                    >
                        <GitlabIcon class="icon is-large"/>
                    </a>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
import GitlabIcon from '@/assets/gitlab-icon.svg';
import NPMIcon from '@/assets/npm-icon.svg';

export default {
    components: {
        GitlabIcon,
        NPMIcon
    }
};
</script>
<style>
.site-title {
    padding-bottom: 0.4rem;
}
</style>
