<template>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column"></div>

                <div class="column">
                    <div class="content has-text-right">
                        <p>
                            built by
                            <a href="mailto:craig@allardyce.me">allardyce</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<style>
#app .footer {
    padding-bottom: 3rem;
}
</style>
