<template>
    <div class="vectato-viewer">
        <div class="columns">
            <div class="column">
                <img :src="src">
            </div>

            <div class="column">
                <div class="svg" v-html="svg"></div>
            </div>
        </div>

        <div class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Time</p>
                    <p class="title">{{meta.time}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Step</p>
                    <p class="title">{{meta.step}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Distance</p>
                    <p class="title">{{formatDistance(meta.distance)}}%</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Size</p>
                    <p class="title">{{formatBytes(meta.size)}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <a class="button" @click="download">Download</a>
                    <a class="button" @click="copy">Copy</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { saveAs } from 'file-saver';
import copy from 'copy-text-to-clipboard';
import Vectato from '../../../';

export default {
    props: ['src'],

    data() {
        return {
            svg: null,
            vectato: null,
            meta: {}
        };
    },

    created() {
        this.vectato = Vectato.create(this.src, {
            auto: true,
            steps: 200,
            shapeTypes: ['triangle', 'rectangle']
        });
        this.vectato.on('step', (svg, meta) => {
            this.svg = svg;
            this.meta = meta;
        });
        this.vectato.on('finish', (svg, meta) => {
            this.svg = svg;
            this.meta = meta;
        });

        // Vectato.trace(this.src)
        //     .then(svg => {
        //         this.svg = svg;
        //     });

        // console.log(foo);
    },

    methods: {
        addShape() {
            this.vectato.addShape();
        },
        formatDistance(distance) {
            return ((1 - distance) * 100).toFixed(2);
        },
        formatBytes(a, b) {
            if (0 == a) return '0 Bytes';
            var c = 1024,
                d = b || 2,
                e = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + ' ' + e[f];
        },
        download() {
            saveAs(
                new Blob([this.svg], {
                    type: 'text/plain;charset=utf-8'
                }),
                'trace.svg'
            );
        },
        copy() {
            copy(this.svg);
        }
    }
};
</script>
<style lang="scss">
.vectato-viewer {
    .svg {
        width: 100%;
        svg {
            width: 100%;
        }
    }
}
</style>
