<template>
    <div class="view-home">
        <section class="hero is-primary is-bold is-medium">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1 site-title has-text-grey-dark">@allardyce | vectato</h1>
                </div>
            </div>
        </section>

        <section class="row container content">
            <Vectato :src="require('@/assets/architecture-booth-buildings-374815.jpg')"/>
        </section>

        <section class="row container content" id="quick-start">
            <h2>Quick Start</h2>

            <p>Get started in under 1 minute</p>

            <h4>Installation</h4>

            <pre class="code-block">
<code><span style="color: #dcdcaa;">yarn</span> <span style="color: #f1f2f3;">add @allardyce/vectato</span></code></pre>

            <hr>

            <h4>Setup</h4>

            <pre class="code-block">
<code><span style="color: #c586c0;">import</span> <span style="color: #9cdcfe;">vectato</span> <span style="color: #c586c0;">from</span> <span style="color: #ce9178;">'@allardyce/vectato'</span>
<span style="color: #9cdcfe;">Vue</span><span style="color: #d4d4d4;">.</span><span style="color: #dcdcaa;">use</span><span style="color: #d4d4d4;">(</span><span style="color: #9cdcfe;">vectato</span><span style="color: #d4d4d4;">)</span></code></pre>

            <hr>

            <h4>Usage</h4>

            <pre class="code-block">
<code></code></pre>
        </section>
    </div>
</template>
<script>
import Vectato from '@/components/Vectato';
export default {
    components: { Vectato }
};
</script>
