<template>
    <div class="view-upload">
        <section class="hero is-primary is-bold is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1
                        class="title is-1 site-title has-text-grey-dark"
                    >@allardyce | vectato | upload</h1>
                </div>
            </div>
        </section>

        <div class="columns">
            <template v-if="image">
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">Time</p>
                        <p class="title">{{meta.time}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">Step</p>
                        <p class="title">{{meta.step}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">Distance</p>
                        <p class="title">{{formatDistance(meta.distance)}}%</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">Size</p>
                        <p class="title">{{formatBytes(meta.size)}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">&nbsp;</p>
                        <a class="button is-info" @click="download">Download</a>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered meta">
                        <p class="heading">&nbsp;</p>
                        <a class="button is-success" @click="copy">Copy</a>
                    </div>
                </div>
            </template>
            <div class="column">
                <div class="image-upload" :class="{ 'small': image }">
                    <FileDrop @change="change"/>
                </div>
            </div>
        </div>

        <div v-if="image" class="columns">
            <div class="column">
                <div class="preview-image">
                    <img :src="image">
                </div>
            </div>

            <div class="column">
                <div class="preview-svg">
                    <div v-html="svg"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FileDrop from '@/components/FileDrop';
import { saveAs } from 'file-saver';
import copy from 'copy-text-to-clipboard';
import Vectato from '../../../';
export default {
    components: { FileDrop },
    data() {
        return {
            vectato: null,
            image: null,
            svg: null,
            meta: {
                time: 0,
                step: 0,
                distance: 0,
                size: 0
            }
        };
    },
    methods: {
        change(files) {
            this.image = files[0];
            this.vectato = Vectato.create(this.image, {
                auto: true,
                steps: 200
            });
            this.vectato.on('step', (svg, meta) => {
                this.svg = svg;
                this.meta = meta;
            });
            this.vectato.on('finish', (svg, meta) => {
                this.svg = svg;
                this.meta = meta;
            });
        },

        formatDistance(distance) {
            return ((1 - distance) * 100).toFixed(2);
        },
        formatBytes(a, b) {
            if (0 == a) return '0 Bytes';
            var c = 1024,
                d = b || 2,
                e = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + ' ' + e[f];
        },
        download() {
            saveAs(
                new Blob([this.svg], {
                    type: 'text/plain;charset=utf-8'
                }),
                'trace.svg'
            );
        },
        copy() {
            copy(this.svg);
        }
    }
};
</script>


<style lang="scss">
.view-upload {
    .meta {
        padding: 1rem;
    }
    .image-upload {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        min-width: 270px;
        &.small {
            padding: 1rem;
            justify-content: flex-end;
            .upload-content {
                padding: 1rem;
            }
        }
    }

    .preview-image {
        display: flex;
        justify-content: center;
        img {
            max-height: 80vh;
        }
    }
    .preview-svg {
        display: flex;
        justify-content: center;
        height: 100%;
        div {
            height: 100%;
            max-height: 80vh;
            svg {
                height: 100%;
                min-width: 100%;
            }
        }
    }
}
</style>
